@media screen and (max-width: 768px) {
    .container {
    width: 100%;
    }
  
}

@media (max-width: 768px){
    .slider {
        width: 90%;
        height: 90%;
    }
}




.navbar ul{
    list-style: none;
    background-color: #235347;
    padding:5px;
    margin:22px;
    overflow: hidden;
    text-align-last: center;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 10px;
    display: block;
    width:100px;
    text-align-last: center;
}

.navbar a:hover{
    background-color: darkgray;
}

.navbar li{
    display: inline-block;
    flex-wrap: wrap;
    
}

#menu-toggle{
    display:none;
}

.menu-icon{
    display: none;
    font-size: 30px;
    padding: 20px;
    background: #333;
    color: white;
    cursor: pointer;
}

.menu{
    display: none;
    background: #444;

}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    
    .menu-icon {
        display: flex;
    }
    
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;

    
}

.menu ul li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-bottom: none;
    
}

#menu-toggle:checked + .menu-icon + .menu{
    display: block;
    
}












.intro {
    flex: 1;
}

h1 {
    color:white;
    text-align: center;
    font-family: "minerva-modern", sans-serif;font-weight: 700;font-style: normal;
    text-transform:uppercase;
}


h3 {
    color:white;
    margin-top: 80px;
    font-family: "minerva-modern", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    
}

li {
    font-family: "minerva-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

p {
    font-size: 20px;
    font-family: "minerva-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    
    
    
}



.footer-image > img{
    padding-top: 40px;
    width: 20%;
    
  
   
    
}

footer {
    padding-bottom: 200px;
    margin-top: 50px;
    text-align-last: center;
}





























.container{
    padding: 2rem;
    float: left;

    
    
    
    
    
}

.slider-wrapper{
    position: relative;
    max-width: 40rem;
    margin: 0 auto;
    
}

.slider {
    display: flex;
    aspect-ratio: 3 / 2;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;

    
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    flex-wrap: wrap;
    
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
    
    
    
}


.slider-nav a:hover {
    opacity: 100%;
    
}

